<script src="/static/js/vendors/vendors.js"></script>
<!-- Local Revolution tools-->
<!-- Only for local and can be removed on server-->
<script type="text/javascript" src="/static/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript" src="/static/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/static/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript"
        src="/static/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/static/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/static/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/static/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="/static/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="/static/js/custom.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- #####End scripts-->
