<link href="/static/css/vendors/vendors.css" rel="stylesheet" type="text/css">
<!-- Load extra page specific css-->
<!-- Overwrite vendors-->
<link rel="icon" type="image/x-icon" href="/static/images/HGo5mY2Z.ico">
<link href="/static/css/vendors/vendors-overwrites.css" rel="stylesheet" type="text/css">
<link href="/static/css/styles.css" rel="stylesheet" type="text/css">
<link href="/static/css/demo1.css" rel="stylesheet" type="text/css">
<link href="/static/css/rtl.css" rel="stylesheet" type="text/css">
<!-- #####End styles-->
<!-- #####Begin JS-->
<!-- add your scripts to the end of the page for sake of page load speed-->
<!-- scripts that need to be at head section-->
<script src="/static/js/vendors/jquery.min.js"></script>
<!-- #####End JS-->
<!-- #####Begin load google fonts-->
<link href="https://fonts.googleapis.com/css?family=Play:400,700&amp;subset=latin,greek,cyrillic" rel="stylesheet"
      type="text/css">
<link href="https://fonts.googleapis.com/css?family=Sintony:400,700&amp;subset=latin,greek,cyrillic" rel="stylesheet"
      type="text/css">
<link href="https://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic&amp;subset=latin,greek,cyrillic"
      rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Exo+2:400,200,300,400italic,500,700,900&amp;subset=latin,greek,cyrillic"
      rel="stylesheet" type="text/css">
<!-- #####End load google fonts-->
