<footer id="footer">
        <div id="footer-main" class="text-center">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="heading-with-sub m-bottom-50">
                  <h3 class="title sans-font m-bottom-30">{{ user.get_full_name }}</h3>
                  <h4 class="subtitle">{{ is_main_setting.copy_right }}</h4>
                </div>
                <div class="sp-line-0"></div>
                <ul class="m-top-30 social-icons shape-circle skin-white hover-dark">
                    <li><a href="https://t.me/ampi1068"><i class="fa fa-telegram"></i></a></li>
                  <li><a href="https://www.instagram.com/ampishdadi/"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="https://github.com/amirali-pishdadi"><i class="fa fa-github"></i></a></li>
                  <li><a href="https://www.linkedin.com/in/amirali-pishdadi-2529aa237/"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
